# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/components/CarouselSlide/.sass-cache/8af3ac762397ba44c309edb4f22d69d73f41b6a4/CarouselSlide.module.scssc
/.idea/git_toolbox_prj.xml
/src/scss/index.css
/src/scss/index.css.map
/src/scss/.sass-cache/3a70ccac8c61fb065c0bd97a329bd8cf496c7da7/index.scssc
/src/page/Models.module.css
/src/page/Models.module.css.map
/src/page/.sass-cache/dcc6e767f00f4afbe405bcbd4ff47684254e9d75/Models.module.scssc
/.idea/modules.xml
/src/components/ProductsInformation/ProductInformation.module.css
/src/components/ProductsInformation/ProductInformation.module.css.map
/src/components/ProductsInformation/.sass-cache/7eeb275c7d745e8cb6ba5c8e331908fe750baa89/ProductInformation.module.scssc
/src/components/ProductsCard/ProductsCard.module.css
/src/components/ProductsCard/ProductsCard.module.css.map
/src/components/ProductsCard/.sass-cache/2dabffd9c41c2ae8320bec7b89fcc439bfa4f284/ProductsCard.module.scssc
/src/components/ProductsCard/.sass-cache/6d9fd644ebb6e9f930b0f867e60f33cafbfe2840/ProductsCard.module.scssc
/.idea/inspectionProfiles/Project_Default.xml
/.idea/react-shopping.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
