@use 'src/scss/variables';

.btn-wrap,
.config_btn_wrap {
  margin: 0 auto;
}

// Button Wrapper
.btn-wrap {
  width: 290px;
}

// Model Config Button Wrapper
.config_btn_wrap {
  width: 305px;

  .config_btn {
    width: 150px;
  }
}

// Primary Button Style
.btn-primary {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  border: 1px solid variables.$main-color;
  color: variables.$main-color;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background: variables.$main-color;
    color: variables.$sub-color;
  }
}

// Google Login Button