@use 'src/scss/variables';

.tabview_container {
  width: 1200px;
  margin: 0 auto;
  /*margin: 2rem 0 2rem 0;*/
  padding: 0 5.5rem;
  border-bottom: 1px solid variables.$main-color;
}

.tabview_list {
  display: flex;
  justify-content: space-between;
}

.tabview_item {

}

.tabview_link {
  font-size: 1.5rem;
}