.models_container {
  width: 100%;
  margin-top: 5rem;
}

.model_information:first-child {
  padding: 2rem 5rem;
}

.selected_model_display {
  text-align: center;
}

.btn_model_wrap {
  margin: 3rem 0;
  justify-content: center;
  gap: 30px;
}