.models_container {
  // width: 100%;
  margin-top: 5rem;
  padding: 3rem;
}

.model_information {
  width: 100%;
}

.model_information:first-child {
  padding: 2rem 5rem;
}

.selected_model_display {
  text-align: center;
}

.link_wrap {
  margin: 3rem 0;
  justify-content: center;
  gap: 30px;
}

// Bottom Section
.model_design {
  gap: 2rem;
}