// Header
.header {
  width: 100%;
}

.inner_header {
  padding: 1.5rem 5rem;
  align-items: center;
}

// Logo Image
.logo img {
  width: 200px;
}

// GLB
.glb_wrap {
  width: 768px;
  margin-left: auto;
}

.glb_navigation {
  font-size: 1.125rem;
  font-weight: bold;

  .item_list .item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
}

.item_list {
  padding: 0 .5rem;
  display: flex;
  justify-content: space-between;
}

// Media (Responsive - Mobile)
@media screen and (max-width: 768px) {
  .inner_header {
    width: 100%;
    padding: .5rem;
  }

  .logo img {
    width: 100px;
  }

  .item_list {
    display: none;

    .item {
      font-size: .5rem;
    }
  }
}