.carousel_viewport {
    width: calc(100vw - (100vw - 100%));
    overflow: hidden;
    display: flex;
}

.carousel_container {
    width: 300vw;
    display: flex;
}

.carousel_item {
    width: 100vw;
}