.flex {
  display: flex;
  border-top: 1px solid black;
}

.footer {
  width: 100%;
}

.inner_wrap {
  align-items: center;
  justify-content: space-around;
}

.relation {
  line-height: 2rem;
}

.service {
  gap: 1rem;
}

.footer_item a span {
  font-size: 1.15rem;
}