.header {
  width: 100%;
}

.inner_wrap {
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 200px;
}

.glb_wrap {
  width: 892px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global_navigation {
  font-size: 1.4rem;
  font-weight: bold;

  .item_list .item {
    padding: 0 1rem;
  }
}

.item_list {
  width: 300px;
  padding: 0 .5rem;
  display: flex;
  justify-content: space-between;
}