.modelsContainer {
  width: 100%;
  margin-top: 5rem;
}

.modelInformation:first-child {
  padding: 2rem 5rem;
}

.selectedModelDisplay {
  text-align: center;
}

.btnModelWrapper {
  margin: 3rem 0;
  justify-content: center;
  gap: 30px;
}