// 변수 선언 ($)
$main-color: #000;
$sub-color: #fff;
$sub-color-white: #fff;
$sub-color-dark: #333;
$neutral-color: #ccc;
$hover-color: #aaa;

// Font Size
$fsize-sml: 12px;
$fsize-bs: 16px;
$fsize-lg: 24px;