// 변수 선언 ($)
$main-color: #000;
$sub-color: #fff;
$sub-color-white: #fff;
$sub-color-dark: #333;
$neutral-color: #ccc;
$hover-color: #aaa;

$lexusDarkGray: #4C4C4C;
$lexusPlatinum: #E5E4E2;
$lexusBlack: #1E1E1E;

// Font Size
$fsize-sml: 12px;
$fsize-bs: 16px;
$fsize-lg: 24px;